name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Perl
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: '5.38'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y hmmer bedtools
        echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH
        ls -1s "$GITHUB_WORKSPACE/examples/"

    - name: Run test
      run: barrnap --version
      
    - name: Run test
      run: barrnap --help
      
    - name: Run test
      run: barrnap --citation
      
    - name: Run test
      run: ! barrnap --doesnotexist
      
    - name: Run test
      run: barrnap 2>&1 | grep 'ERROR: No input file'
      
    - name: Run test
      run: barrnap -q --kingdom bac  examples/bacteria.fna
      
    - name: Run test
      run: barrnap -q --kingdom arc  examples/bacteria.fna
      
    - name: Run test
      run: barrnap -q --kingdom mito examples/mitochondria.fna

    - name: Run test    
      run: barrnap -q --kingdom euk  examples/fungus.fna

    - name: Run test
      run: ! barrnap examples/empty.fna

    - name: Run test
      run: ! barrnap examples/null.fna

    - name: Run test
      run: barrnap -q examples/small.fna | grep 16S_rRNA

    - name: Run test
      run: barrnap -q < examples/small.fna | grep 16S_rRNA

    - name: Run test
      run: barrnap -q - < examples/small.fna | grep 16S_rRNA

    - name: Run test
      run: barrnap examples/nohits.fna 2>&1 | grep 'Found 0 '

    - name: Run test
      run: barrnap --threads 2 examples/small.fna

    - name: Run test
      run: barrnap -q --incseq examples/small.fna | grep '^>'

    - name: Run test
      run: barrnap -q --outseq hits.fa < examples/small.fna && head -n3 hits.fa
