name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: barrnap
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict
          auto-update-conda: true

      - name: Add to PATH
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Check tools
        run: |
          bedtools --version
          nhmmer -h | grep HMMER

      - name: Simple tests
        run: |
          barrnap --version
          barrnap --listdb
          barrnap --help
          barrnap --citation

      - name: Main tests
        run: |
          set -x
          barrnap -q --kingdom bac  examples/bacteria.fna
          barrnap -q --kingdom arc  examples/archaea.fna
          barrnap -q --kingdom mito examples/mitochondria.fna
          barrnap -q --kingdom euk  examples/fungi.fna
          barrnap 2>&1 | grep 'ERROR: No input file'
          #! barrnap examples/empty.fna
          #! barrnap examples/null.fna
          barrnap -q examples/small.fna | grep 16S_rRNA
          barrnap -q < examples/small.fna | grep 16S_rRNA
          barrnap -q - < examples/small.fna | grep 16S_rRNA
          barrnap examples/nohits.fna 2>&1 | grep 'Found 0 '
          barrnap --threads $(nproc) examples/small.fna
          barrnap -q --incseq examples/small.fna | grep '^>'
          barrnap -q --outseq hits.fa < examples/small.fna && head -n3 hits.fa
