name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: barrnap
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          conda-remove-defaults: true
          channel-priority: strict
          auto-update-conda: true

      - name: Add to PATH
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Check tools
        run: |
          set +x
          bedtools --version
          cmscan -h | grep INFERN
          any2fasta -v

      - name: Simple tests
        run: |
          set +x
          barrnap --version
          barrnap --help
          barrnap --citation

      - name: Database tests
        run: |
          set +x
          barrnap --listdb
          barrnap --setupdb

      - name: Expected fails
        run: |
          set +x
          ! barrnap examples/empty.fna
          ! barrnap examples/null.fna
          barrnap examples/nohits.fna 2>&1 | grep 'Found 0 '

      - name: File format tests
        run: |
          set -x
          barrnap -q --type tRNA  examples/lepto.gbk.gz
          barrnap -q --type tRNA  examples/mtb.fa.bz2

      - name: Main tests
        run: |
          set -x
          exe="barrnap --quiet --threads $(nproc)"
          $exe --kingdom bac examples/bacteria.fna
          $exe ---kingdom arc examples/archaea.fna
          $exe --kingdom fun examples/fungi.fna
          $exe --fast --type rRNA,tRNA examples/small.fna | grep RF02541
          $exe --type rRNA examples/mtb.fa.bz2 | grep RF00001

      - name: Other output options
        run: |
          set -x
          barrnap -q --incseq examples/small.fna | grep '^>'
          barrnap -q --outseq hits.fa examples/small.fna && head -n3 hits.fa
