name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: barrnap
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          conda-remove-defaults: true
          channel-priority: strict
          auto-update-conda: true

      - name: Add to PATH
        run: |
          echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Check tools
        run: |
          set +x
          bedtools --version
          aragorn -h | grep '^ARAGORN v'
          cmscan -h | grep INFERN
          make --version | head -n 1
          cmssearch -h | grep INFERN
          any2fasta -v
          seqkit version

      - name: Simple tests
        run: |
          set +x
          barrnap --version
          barrnap --help
          barrnap --citation

      - name: Install databases
        run: |
          set +x
          ! barrnap --listdb
          barrnap --updatedb
          barrnap --listdb

      - name: Expected fails
        run: |
          set +x
          ! barrnap examples/empty.fna
          ! barrnap examples/null.fna
          ! barrnap --no-rna examples/small.fna
          barrnap examples/polyg.fna
          barrnap examples/nohits.fna 2>&1 | grep 'Found 0 '

      - name: File format tests
        run: |
          set -x
          barrnap -q --trna  examples/lepto.gbk.gz
          barrnap -q --no-rrna --trna  examples/mtb.fa.bz2

      - name: Main tests
        run: |
          set -x
          exe="barrnap --quiet --threads $(nproc)"
          $exe --legacy examples/small.fna | grep LSU
          $exe --kingdom bac examples/bacteria.fna
          $exe --king arc examples/archaea.fna
          $exe --k fun examples/fungi.fna
          $exe --fast --trna  examples/small.fna | grep RF02541
          $exe --rrna  examples/mtb.fa.bz2 | grep RF00001

      - name: E.coli mega-test
        run: |
          set -x
          exe="barrnap --quiet --threads $(nproc)"
          out="bac.gff"
          $exe --operon --ncrna --trna --addids examples/bacteria.fna > $out
          grep -w operon $out
          grep -F 'ID=tRNA-Leu-8' $out
          grep -F 'Dbxref=Rfam:RF00001' $out
          for T in rRNA tRNA tmRNA ncRNA ; do
            echo -n "Found $T "
            cut -f3 $out | grep -w $T | wc -l
          done

      - name: Other output options
        run: |
          set -x
          small="examples/small.fna"
          barrnap -q --incseq $small | grep '^##FASTA'
          barrnap -q --incseq $small | grep '^>'
          barrnap -q --incseqreg $small | grep '^##sequence-region'
          out="$PWD/hits.fa"
          barrnap -q --outseq $out examples/small.fna
          
