name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: barrnap
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict
          auto-update-conda: true

      - name: Add to PATH
        run: echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Run test
        run: barrnap --version
