name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v5

      - uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: barrnap
          environment-file: environment.yml
          miniforge-version: latest
          channels: conda-forge,bioconda
          channel-priority: strict
          auto-update-conda: true

      - name: Add to PATH
        run: echo "${{ github.workspace }}/bin" >> $GITHUB_PATH

      - name: Run test
        run: barrnap --version
        
      - name: Check DBs
        run: barrnap --listdb
        
      - name: Run test
        run: barrnap --help
        
      - name: Run test
        run: barrnap --citation
        
#      - name: Run test
#        run: barrnap 2>&1 | grep 'ERROR: No input file'
        
      - name: Run test
        run: barrnap -q --kingdom bac  examples/bacteria.fna
        
      - name: Run test
        run: barrnap -q --kingdom arc  examples/bacteria.fna
        
      - name: Run test
        run: barrnap -q --kingdom mito examples/mitochondria.fna

      - name: Run test    
        run: barrnap -q --kingdom euk  examples/fungus.fna

      - name: Run test
        run: ! barrnap examples/empty.fna

      - name: Run test
        run: ! barrnap examples/null.fna

      - name: Run test
        run: barrnap -q examples/small.fna | grep 16S_rRNA

      - name: Run test
        run: barrnap -q < examples/small.fna | grep 16S_rRNA

      - name: Run test
        run: barrnap -q - < examples/small.fna | grep 16S_rRNA

      - name: Run test
        run: barrnap examples/nohits.fna 2>&1 | grep 'Found 0 '

      - name: Run test
        run: barrnap --threads 2 examples/small.fna

      - name: Run test
        run: barrnap -q --incseq examples/small.fna | grep '^>'

      - name: Run test
        run: barrnap -q --outseq hits.fa < examples/small.fna && head -n3 hits.fa
